/* -------------------------------- Reset -------------------------------- */
*, *::before, *::after {
    box-sizing: border-box;
}
*:not(dialog) {
    margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
#root, #__next {
    isolation: isolate;
}

button{
    padding: 0;
    margin: 0;
}

/* -------------------------------- Style -------------------------------- */

:root{
    --box-size: 700px;
    --player-box-width: 300px;
    --gap-width: 30px;

    --x-color: #880000;
    --o-color: #000088;

    font-family: "Roboto", sans-serif;

}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hidden {
    visibility: hidden;
}

.topbar{
    width: 100%;
    min-height: 10vh;
    background-color: rgb(248, 206, 128);
    padding: 20px;
    padding-left: 55px;
    font-size: 24pt;
}

.content-container{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
}

.player-box{
    font-size: 24px;
    display: grid;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    
    height: var(--box-size);
    width: var(--player-box-width);
    background-color: rgb(255, 200, 89);
    padding: 30px;

    &:has(~ .player-box){
        border-radius: 0px 50px 50px 0px;
        justify-items: start;

        input[type="color"]{
            top: var(--border-offset);
            right: var(--border-offset);
        }

    }
    ~ .player-box{
        border-radius: 50px 0px 0px 50px;
        justify-items: end;

        input[type="color"]{
            top: var(--border-offset);
            left: var(--border-offset);
        }
    }
    
    
    .name{
        min-width: none;
        &:focus{
            padding-left: 0.5em;
            min-width: 3em;
        }
    }

    .mark-o,
    .mark-x{
        cursor: pointer;
        --gap-width: 1em;
        width: 5em;
        justify-self: center;
        position: relative;

        input[type="color"]{
            width: 5px;
            position: absolute;
        }

    }

}

.edit-me{
    cursor: text;
    border-bottom: 2px dashed currentColor;
    position: relative;

    &::before{
        position: absolute;
        left: -1.2em;
        top: 0.2em;
        content: '✏️ ';
        font-size: 0.7em;
    }
}

.turn-marker{
    --color : rgb(255, 246, 227);
    background-color: var(--color);
    box-shadow: 
        -10px 0 0 10px var(--color),
        10px 0 0 10px var(--color);
    border-radius: 5px;

    &::before{
        content: "Your turn";
    }

    &:has( ~ .isbot)::before{
        content: "Thinking";
    }
}

.player-type-toggle{
    cursor: pointer;
    justify-self: center;
    display: flex;

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .bot{
        font-family: monospace;
    }

    &:not(.isbot) .bot{
        display: none;
    }

    &.isbot .human{
        display: none;
    }

    svg{
        flex: 0 0 auto;
        display: inline;
        width: 50px;
        height: 50px;
    }
}

.game-box{
    height: var(--box-size);
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;

    gap: var(--gap-width);
    .grid-line{

        justify-self: center;
        align-self: center;
        --length: var(--box-size);
        --thickness: var(--gap-width);
        z-index: 0;
        background-color: black;
        border-radius: 99999px;
        position: absolute;

        &.column{
            grid-row: 1 / 4;
            width: var(--thickness);
            height: var(--length);


            grid-column: 1 / 3;
            ~.column{
                grid-column: 2 / 4;
            }
        }

        &.row{
            grid-column: 1 / 4;
            height: var(--thickness);
            width: var(--length);


            grid-row: 1 / 3;
            ~.row{
                grid-row: 2 / 4;
            }
        }

    }

}

.play-area{
    grid-area: 1 / 1 / 4 / 4;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    position: inherit;
}

.cell{
    align-self: stretch;
    justify-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;

    &:empty{
        cursor: pointer;
    }
}

.mark-o{
    --border-offset: calc(var(--gap-width)*-1);
    width: 70%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: solid var(--gap-width) var(--o-color);
}

.mark-x {
    --border-offset: 0;
    width: 70%;
    aspect-ratio: 1;
    position: relative;

    &::before, &::after {
        content: '';
        position: absolute;
        width: 110%;
        height: var(--gap-width);
        background-color: var(--x-color);
        border-radius: 9999px;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }

    &::before { rotate: 45deg; }
    &::after  { rotate: -45deg; }
}

.win-line{
    justify-self: center;
    align-self: center;
    --length: calc(var(--box-size) - 20px);
    --thickness: 50px;
    z-index: 2;
    background-color: rgba(14, 138, 76, 0.7);
    border-radius: 99999px;
    position: absolute;

    &.diagonal{
        grid-area: 1 / 1 / 4 / 4;
        width: calc(var(--length) * 1.4);
        height: var(--thickness);
        transform: rotate(45deg);
    }

    &.column{
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        width: var(--thickness);
        height: var(--length);
    }

    &.row{
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        height: var(--thickness);
        width: var(--length);
    }
}
